
        h1{
            font-size:50px;
        }
         .btn0{
            width:105px;
            height:35px;
            color:White;
            background-color:black;
            border:none;
            border-radius:10px;
            margin-bottom:20px;
         }
         .div1,.div2,.heading,.rdiv{
            display:flex;
            justify-content:center;
            align-items:center;
         }
         .btn1,.btn2,.btn3{
            margin-right:20px;
            background-color:crimson;
            padding:10px;
            border:2px solid black;
         }
         .div2{
            margin-top:25px;
         }
         body{
            background-image:url("bimage-112.avif");
            object-fit:cover;      
         }
         .gameResult{
            font-size:30px;
            font-weight:800;
         }
         .rdiv{
            background-color:aquamarine;
            margin-bottom:20px;
         }